p {
  font-family: Montserrat;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
}

.sub_underline {
  text-decoration: underline;
}